/* ---- reset ---- */ 
body{ 
	margin:0;
	font:normal 75% Arial, Helvetica, sans-serif;
} 
canvas{
	display: block;
	vertical-align: bottom;
} 

/* ---- particles.js container ---- */ 
#particles-js{ 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%;
} 

#landing-text{
	text-align: center;
	font-family: Josefin Sans;
} 

.vertical-center{
	min-height: 34%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 34vh;
	margin-top: 13%;
	margin-top: 13vh;
	margin-bottom: 13%;
	margin-bottom: 13vh;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
}

.jumbotron {
    color: white;
    background-color: transparent;
    border-radius: 0px;
}

#eyes {
	height: 24vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8vh;
	margin-bottom: 8vh;
}

#directions {
	display: none;
}
