#content-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#web-container {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
}

a {
    word-break: break-all;
}

.navdrawer-permanent {
    min-width: 25rem;
    width: 20%;
}
