#content-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#web-container {
    width: 100%;
    height: 100%;
}

a {
    word-break: break-all;
}

#loading-wrapper {
    position: absolute;
    top: 45%;
    right: 40%;
}

@media (max-width: 767px) {
    #loading-wrapper {
        right: 18%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #loading-wrapper {
        right: 28%;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #loading-wrapper {
        right: 32%;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}

.navdrawer {
    min-width: 25rem;
    width: 20%;
    color: white;
    background-color: #222;
}

.navdrawer-content, .navdrawer-header, .navdrawer .list-group-item, .navdrawer .expansion-panel-icon {
    color: white !important;
    background-color: #222;
}

.navdrawer-header, .navdrawer-header h3 {
    margin: 0;
    border-color: #ccc;
}

.navdrawer .list-group-item {
    border-color: #444;
}

.navdrawer .expansion-panel-toggler:hover, .navdrawer .expansion-panel-toggler:focus {
    color: white;
    background-color: #222;
}
