{% extends "base.html" %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        var landing_state = true;
    </script>
    <!-- particles.js container -->
    <div id="particles-js" style="z-index: -1"></div>
    <!-- particles.js lib -->
    <script type="text/javascript" src="{% static "js/particles.min.js" %}"></script>
    <!-- stats.js lib -->
    <script type="text/javascript" src="{% static "js/particles.config.js" %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function transition(){
            search_cont = document.getElementById("search-container");
            search_cont.style["background-color"] = "white";
            search_cont.style["margin-top"] = "0px";
            search_cont.style["margin-bottom"] = "0px";
            search_cont.style["min-height"] = "100vh";
            search_cont.style.height = "100%";
            search_cont.style.top = "0";
            search_cont.style.bottom = "0";

            document.getElementById("landing-text").style.color = "black";

            document.getElementById("eyes").style.display = "none";

            dirs = document.getElementById("directions");
            dirs.style.height = "24vh";
            dirs.style["margin-top"] = "8vh";
            dirs.style["margin-bottom"] = "8vh";
            dirs.style.display = "block";

            $("#search")[0].selectize.focus();
        }
    </script>

    <script type="text/javascript">
        function addArticle(id, title) {
            $(".article[data-id='" + id + "']").remove();
            $("#selected-papers").append($("<div class='article' />").text(title).attr("data-id", id));
        }

        function addAuthor(id, name) {
            $(".author[data-id='" + id + "']").remove();
            $("#selected-authors").append($("<div class='author' />").text(name).attr("data-id", id));
        }

        function addKeyword(id) {
            $(".keyword[data-id='" + id + "']").remove();
            $("#selected-keywords").append($("<span class='keyword' />").text(id).attr("data-id", id));
        }

        function showSidebar() {
            $("#search-container").css("width", "50%");
            setTimeout(function() {
                $("#search-container").css("float", "left");
                $("#list-container").fadeIn();
            }, 760);
        }

        $(document).ready(function() {
            $("#eyes").css("display", "block")
                .animate({opacity: 1}, 1000);
            $("#search").selectize({
                valueField: 'id',
                labelField: 'title',
                searchField: ['title', 'authors', 'doi'],
                maxItems: 1,
                preload: true,
                create: function(input) {
                    addKeyword(input);
                    showSidebar();
                    this.blur();
                    return null;
                },
                render: {
                    option: function(item, escape) {
                        if (item.type == "article") {
                            return '<div class="article"><span class="title">' + escape(item.title) + '</span><span class="year">' + (item.year ? escape(item.year) : '') + '</span> <span class="authors">' + escape(item.authors) + '</span></div>';
                        }
                        return '<div class="author"><i class="fa fa-user"></i> <span class="title">' + escape(item.title) + '</span></div>';
                    }
                },
                load: function(query, callback) {
                    $.ajax({
                        url: "/web/search?q=" + encodeURIComponent(query),
                        type: "GET",
                        error: function() {
                            callback();
                        },
                        success: function(res) {
                            callback(res.articles.concat(res.authors));
                        }
                    });
                }
            }).on("change", function() {
                var val = $("#search")[0].selectize.getValue();
                if (val !== "") {
                    var article = $("#search")[0].selectize.options[val];
                    if (article.type == "article") {
                        addArticle(article.id, article.title);
                    }
                    else {
                        addAuthor(article.id, article.title);
                    }
                    showSidebar();
                }
                $("#search")[0].selectize.clear();
            });
            $("#selected-keywords").on("click", ".keyword", function(e) {
                e.preventDefault();
                $(this).remove();
            });
            $("#selected-papers, #selected-authors").on("click", ".article, .author", function(e) {
                e.preventDefault();
                $(this).slideUp("fast", function() {
                    $(this).remove();
                });
            });
        });
    </script>
{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css" integrity="sha256-EhmqrzYSImS7269rfDxk4H+AHDyu/KwV1d8FDgIXScI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/index.css"%}" />

    <style>
    #search-container {
        width: 100%;
        transition: background-color 0.5s, min-height 0.5s, width 0.75s;
    }
    #list-container {
        padding: 15px;
        color: white;
        display: none;
        width: 50%;
        height: 100vh;
        float: left;
        overflow-y: auto;
    }
    h2 {
        font-family: Josefin Sans;
    }
    #selected-papers:empty:before {
        content: "No articles selected.";
        color: grey;
    }
    #selected-authors:empty:before {
        content: "No authors selected.";
        color: grey;
    }
    #selected-keywords:empty:before {
        content: "No keywords selected.";
        color: grey;
    }
    #selected-papers, #selected-authors, #selected-keywords {
        margin-bottom: 30px;
        font-size: 1.2em;
        font-family: Work Sans;
        font-weight: 300;
    }
    #selected-papers .article, #selected-authors .author {
        cursor: pointer;
        padding: 3px 5px;
    }
    #selected-papers .article:hover, #selected-authors .author:hover {
        color: #EF5350;
    }
    #selected-keywords .keyword {
        display: inline-block;
        padding: 3px 5px;
        margin: 3px;
        border: 1px solid white;
        border-radius: 2px;
        cursor: pointer;
        user-select: none;
    }
    #selected-keywords .keyword:hover {
        border-color: #EF5350;
        color: #EF5350;
    }
    .selectize-control .selectize-input {
        background-color: transparent;
        border: 1px solid white;
    }
    .selectize-dropdown .article, .selectize-dropdown .author, .selectize-dropdown .create {
        padding: 5px;
    }
    .authors {
        color: grey;
    }
    .year {
        color: #ccc;
        float: right;
    }
    .selectize-control .selectize-dropdown:hover {
        border-color: #d0d0d0;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
    }
    </style>
{% endblock %}

{% block content %}
<!-- landing text -->

<div id="search-container" class="jumbotron top-middle">
    <div style="margin:auto">
        <h1 id="landing-text" class="display-2">Anansi Paper Web</h1>
        <form action="/web/node" onclick="transition()" method="GET" style="max-width: 500px; margin: 0 auto">
            <input id="search" name="id" type="search" class="form-control form-control-lg" placeholder="Search Anansi" />
        </form>
    </div>
    <div id="directions">
        <p id="dir-header" class="h3">Explore. Enter any combination of paper titles, author names, and keywords into the search bar and Anansi will weave you a web.</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Papers</h2>
                </div>
                <div class="col">
                    <h2>Authors</h2>
                </div>
                <div class="col">
                    <h2>Terms</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="list-container">
    <h2>Selected Papers</h2>
    <div id="selected-papers"></div>
    <h2>Selected Authors</h2>
    <div id="selected-authors"></div>
    <h2>Selected Keywords</h2>
    <div id="selected-keywords"></div>

    <form method="POST">
        <input type="hidden" id="id_articles" name="articles" />
        <input type="hidden" id="id_authors" name="authors" />
        <input type="hidden" id="id_keywords" name="keywords" />
        <button type="submit" class="btn btn-primary btn-lg">Weave</button>
    </div>
</div>

<img id="eyes" src={% static "png/anansi.png"%} />

<div id="directions">
    <h2>Here's some info on how to use our search.</h2>
</div>
{% endblock %}
