{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/web.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/web.js" %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-container">
        <div id="navdrawer" class="navdrawer navdrawer-permanent rounded shadow-8">
            <div class="navdrawer-content">
                <div class="navdrawer-header">
                    <h3>Select a Node</h3>
                    <div class="navdrawer-authors"></div>
                    <div><a target="_blank" class="navdrawer-url"></a></div>
                </div>
                <div class="navdrawer-nav">
                    <div id="accordion" class="list-group list-group-flush">
                        <div class="expansion-panel list-group-item">
                            <a class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collapseAbstract">
                                Abstract
                                <div class="expansion-panel-icon ml-3 text-black-secondary">
                                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                                </div>
                            </a>
                            <div id="collapseAbstract" class="collapse" data-parent="#accordion">
                                <div class="expansion-panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="expansion-panel list-group-item">
                            <a class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collapseInCitations">
                                In-Citations
                                <div class="expansion-panel-icon ml-3 text-black-secondary">
                                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                                </div>
                            </a>
                            <div id="collapseInCitations" class="collapse" data-parent="#accordion">
                                <div class="expansion-panel-body">
                                    <ul class="list-group list-group-flush"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="expansion-panel list-group-item">
                            <a class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collapseOutCitations">
                                Out-Citations
                                <div class="expansion-panel-icon ml-3 text-black-secondary">
                                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                                </div>
                            </a>
                            <div id="collapseOutCitations" class="collapse" data-parent="#accordion">
                                <div class="expansion-panel-body">
                                    <ul class="list-group list-group-flush"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg id="web-container"></svg>
    </div>
{% endblock %}
