{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/web.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/web.js" %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="content-container">
        <div id="navdrawer" class="navdrawer navdrawer-permanent">
            <div class="navdrawer-content">
                <div class="navdrawer-header">
                    The Nav
                </div>
                <div class="navdrawer-nav">
                    <ul>
                        <li>Yo</li>
                        <li>Yo</li>
                        <li>Yo</li>
                    </ul>
                </div>
            </div>
        </div>
        <svg id="web-container"></svg>
    </div>
{% endblock %}
